@mixin flex($align: null, $justify: null, $direction: null, $gap: null) {
	display: flex;
	@if $align != null {
		align-items: $align;
	}
	@if $justify != null {
		justify-content: $justify;
	}
	@if $direction != null {
		flex-direction: $direction;
	}
	@if $gap != null {
		gap: $gap;
	}
}
