@mixin flex($align: null, $justify: null, $direction: null, $gap: null) {
	display: flex;
	@if $align != null {
		align-items: $align;
	}
	@if $justify != null {
		justify-content: $justify;
	}
	@if $direction != null {
		flex-direction: $direction;
	}
	@if $gap != null {
		gap: $gap;
	}
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}