@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.artist {
	padding: 0;
	gap: 1rem;
	input[type="radio"] {
		display: none;
	}
	.section-wrapper {
		padding: 2.4rem;
	}
	.artist-wrapper {
		@include flex(center, space-between, column, 4rem);
		padding-bottom: 15rem;
		@include laptop {
			@include flex(flex-start, space-between, row, null);
			padding-bottom: 8rem;
		}
	}
	.artist-content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.1rem;
		padding-bottom: 15rem;

		@include laptop {
			grid-template-columns: repeat(auto-fill, 17.1rem);
		}
	}
	.about-content {
		display: grid;
		grid-template-columns: 1fr;
		gap: 4rem;

		@include laptop {
			grid-template-columns: 1fr 4fr 1fr;
		}
	}
	.artist-cover-wrapper {
		height: 23.6rem;
		overflow: hidden;
		position: relative;
		@include laptop {
			max-height: 42.6rem;
			height: 100%;
		}
		.btn-green {
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			background-color: #1ed760;
			@include flex(center, center, row, null);
			cursor: pointer;
			transition: transform 0.2s ease;
		}
	}
	.artist-cover {
		width: 100%;
		height: 100%;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			background: $artist-cover-bg;
		}
	}
	.artist-additional {
		@include flex(null, null, column, 5rem);
		width: 100%;
	}
	.artist-list {
		@include flex(null, space-between, row, null);
		.artist-songs-wrapper {
			@include flex(null, center, column, 1rem);
			width: 100%;
			max-width: 65rem;
			padding: 1rem;
		}
	}

	.artist-details {
		@include flex(flex-start, space-between, column, 1rem);
		width: 100%;
		position: absolute;
		bottom: 0;
		@include laptop {
			@include flex(center, space-between, row, null);
		}
		.artist-heading {
			@include flex(null, null, column, 0.4rem);
			padding: 0.5rem 2.5rem;
			order: 1;
			color: $color-hover-text;
			@include laptop {
				@include flex(null, null, column, 2rem);
				padding: 2rem;
			}
			.artist-name {
				font-size: 2rem;
				font-weight: 900;
				text-shadow: 0rem 0rem 0.1rem $color-bg-primary;
				@include laptop {
					font-size: 5rem;
					line-height: 6.8rem;
					text-shadow: none;
				}
			}
			.artist-listeners {
				font-size: 1.4rem;
				line-height: 1.9rem;
				letter-spacing: 0.03em;
				text-shadow: 0rem 0rem 0.1rem $color-bg-primary;
				@include laptop {
					text-shadow: none;
				}
			}
		}
		.artist-options {
			@include flex(center, space-between, row-reverse, 0.4rem);
			width: 100%;
			order: 2;
			padding: 0 2.5rem;
			@include laptop {
				@include flex(center, space-between, row, 1.4rem);
				padding-right: 3.6rem;
				width: auto;
			}
		}
	}
	.artist-info {
		@include flex(null, null, column, null);
		width: 100%;
		max-width: 34rem;
	}
	.songs-history {
		@include flex(center, space-between, row, 1.5rem);
		padding: 0.8rem 0;
		.song-number {
			font-weight: 500;
			line-height: 2.2rem;
			text-align: center;
			letter-spacing: 0.03em;
			width: 4rem;
		}
		.song-cover {
			max-width: 5.1rem;
			max-height: 5.1rem;
			width: 100%;
			height: 100%;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 0.3rem;
			}
		}
		.song-author {
			@include flex(flex-start, center, column, 0.5rem);
			width: 100%;
			.song-name {
				font-weight: 500;
				line-height: 2.2rem;
				letter-spacing: 0.03em;
				color: $color-hover-text;
			}
			.song-artist {
				font-weight: 400;
				font-size: 1.4rem;
				line-height: 1.9rem;
				letter-spacing: 0.03em;
				$color: $color-primary;
			}
		}
		.song-duration {
			font-weight: 400;
			font-size: 1.4rem;
			line-height: 1.9rem;
			letter-spacing: 0.03em;
			color: $color-primary;
		}
		.song-icon {
			@include flex(center, null, null, null);
		}
	}
	.artist-heading {
		@include flex(null, null, column, 3rem);
		.about-album {
			@include flex(null, center, column, 3rem);
		}
		.album-description {
			color: $color-hover-text;
			line-height: 2.2rem;
			letter-spacing: 0.03em;
		}
		.about-album-cover {
			max-width: 32rem;
			width: 100%;
		}
	}
	.artist-album {
		padding: 1.3rem;
		background-color: $artist-album-cover-bg;
		border-radius: $border-radius-default;
	}

	.album-tags {
		@include flex(center, flex-start, row, 1rem);
		flex-wrap: wrap;
		.tag {
			padding: 1rem 2rem;
			border: $album-tag-border;
			border-radius: 4.4rem;
			&:hover {
				color: $color-hover-text;
				border: 0.2rem solid $color-hover-text;
			}
		}
	}

	.about-badge {
		display: none;
		@include laptop {
			@include flex(center, null, column);
		}

		.about-badge-covered {
			background-image: url(../img/icons/big_star.svg);
			width: 13.2rem;
			height: 13.2rem;
			@include flex(center, center, column);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
		}
		.about-badge-number,
		.about-badge-description {
			color: $color-hover-text;
			font-weight: 700;
			font-size: clamp-calc(1.8rem, 3rem);
			letter-spacing: 0.03em;
		}
		.about-badge-description {
			font-size: clamp-calc(1.3rem, 1.6rem);
			font-weight: 400;
		}
	}
	.about-description {
		max-width: 150rem;
		width: 100%;
		color: $color-hover-text;
		order: 2;
		padding-bottom: 15rem;
		@include laptop {
			padding-bottom: 0;
		}
	}
	.about-statistics {
		@include flex(null, null, column, 2.3rem);
		order: 1;
		@include laptop {
			order: 3;
		}
		.statistics-item {
			@include flex(null, null, column, null);
		}
		.statistics-head,
		.statistics-text {
			font-weight: 700;
			font-size: clamp-calc(1.8rem, 3rem);
			letter-spacing: 0.03em;
			color: $color-hover-text;
		}
		.statistics-text {
			font-size: clamp-calc(1.3rem, 1.6rem);
			color: $color-primary;
			font-weight: 400;
		}
	}
}

.theme-toggle {
	position: relative;
	width: 5rem;
	height: 2.6rem;
	background-color: $color-hover-bg;
	border-radius: 5rem;
	cursor: pointer;
	transition: background-color 0.3s;
	&::after {
		content: "";
		position: absolute;
		top: 0.2rem;
		left: 0.2rem;
		width: 2.2rem;
		height: 2.2rem;
		background-color: $main-green-color;
		border-radius: 50%;
		transition: left 0.3s;
	}

	&.dark::after {
		left: 2.6rem;
	}
}

.artist-item {
	@include flex(flex-start, null, column, 1.8rem);
	width: 100%;
	padding-bottom: 3rem;
	border-bottom: 0.2rem solid $color-bg-primary;
	@include laptop {
		@include flex(flex-start, null, row, 1.8rem);
	}
	.card-details {
		@include flex(normal, null, column, 1rem);
		width: 100%;
		@include laptop {
			@include flex(flex-start, null, column, 1rem);
		}
	}
	.details-heading {
		@include flex(center, space-between, null, null);
		width: 100%;
		h2 {
			font-weight: 700;
			font-size: 2rem;
			line-height: 2.7rem;
			letter-spacing: 0.03em;
			color: $color-secondary;
		}
		& i:hover {
			filter: brightness(0) invert(1);
			transition: 0.3s ease;
			cursor: pointer;
		}
	}
	.details-timing {
		@include flex(center, null, null, null);
		.songs-year,
		.songs-count,
		.songs-duration {
			font-weight: 400;
			font-size: 1.4rem;
			line-height: 1.9rem;
			letter-spacing: 0.03em;
			color: $color-primary;
		}
		.songs-count::before,
		.songs-duration::before {
			content: "•";
			padding: 1rem;
		}
	}
	.details-actions {
		@include flex(center, center, row, 3.1rem);

		& i:not(:first-child):hover {
			filter: brightness(0) invert(1);
			transition: 0.3s ease;
			cursor: pointer;
		}
		.active {
			@include flex(center, center, null, null);
			background-color: $main-green-color;
			padding: 1rem;
		}
	}
}

.artist-navigation {
	overflow-y: auto;
	padding: 0.5rem 2.5rem;
	border-bottom: 0.1rem solid $border-menu-color;

	@include flex(center, space-between, row, 5rem);

	@include laptop {
		padding: 0 2.5rem;
	}
	.menu-item input {
		display: none;
	}
	ul {
		@include flex(center, null, row, 5rem);
		flex-wrap: nowrap;
		li {
			padding: 0.7rem 0;
			cursor: pointer;
			border-bottom: 0.2rem solid transparent;
			font-size: 1.4rem;
			white-space: nowrap;
		}
		li:hover,
		li:active {
			padding: 1rem 0;
			color: $color-hover-text;
			border-bottom: 0.2rem solid #1ed760;
		}
		li label {
			cursor: pointer;
		}
	}
	.layout {
		display: none;
	}
	& .active {
		border-bottom: 0.2rem solid $main-green-color;
		color: $color-hover-text;
	}
}

.section-wrapper.home,
.section-wrapper.about,
.section-wrapper.albums {
	display: none;
}

.section-wrapper .content-wrapper .artist-content.grid-content,
.section-wrapper .content-wrapper .artist-content.list-content {
	display: none;
}

#home:checked ~ .section-wrapper.home,
#about:checked ~ .section-wrapper.about,
#albums:checked ~ .section-wrapper.albums {
	display: block;
}

#home:checked ~ .artist-navigation label[for="home"],
#about:checked ~ .artist-navigation label[for="about"],
#albums:checked ~ .artist-navigation label[for="albums"] {
	border-bottom: 0.2rem solid $main-green-color;
	color: $color-hover-text;
	padding: 1rem 0;
}
#grid:checked ~ .artist-navigation label[for="grid"] .icon-sort-grid,
#list:checked ~ .artist-navigation label[for="list"] .icon-sort-list {
	filter: brightness(0) invert(1);
	transition: 0.3s ease;
}

#albums:checked ~ .artist-navigation .layout {
	@include flex(center, center, row, 4rem);
}

#grid:checked ~ .section-wrapper .grid-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.1rem;
	padding-bottom: 15rem;

	@include laptop {
		grid-template-columns: repeat(auto-fill, 16.1rem);
	}
	@include desktop {
		grid-template-columns: repeat(auto-fill, 17.1rem);
	}
}

#list:checked ~ .section-wrapper .list-content {
	@include flex(flex-start, center, column, 3rem);
}
