@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.player {
  display: none;
  @include laptop {
    display: flex;
  }
}

.main {
  // Scroll controller
  scroll-snap-type: y mandatory;
}
.hide-mob {
  display: none;
  @include laptop {
    display: flex;
  }
}
.no-pd {
  padding: 0;
}
// navigation bar mobile at the top of screen
.mobile-filters {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: $discover-filters-bg-color;
  border-radius: 0 0 $border-radius-default $border-radius-default;
  @include flex(center, flex-start, row);

  & .radio-nav {
    @include flex(center, flex-start, row, 4rem);
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background: $discover-filters-bg-color;
    transition: transform 0.3s ease;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-bg;
      border-radius: 0.3rem;
    }
    & label {
      white-space: nowrap;
      font-family: $font-satoshi;
      font-size: 1.4rem;
      color: $color-primary;
      position: relative;
      cursor: pointer;
    }
    & input[type="radio"]:checked + label::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.4rem;
      width: 100%;
      height: 0.2rem;
      background-color: $main-green-color;
      border-radius: 0.2rem;
    }
    & input {
      display: none;
    }
  }
  @include laptop {
    display: none;
  }
}
// main content wrapper for horizontal and vertical scroll
.discover .mobile-wrapper {
  padding-bottom: 2rem;
  margin-top: 1.1rem;
  @include flex(center, center, column, 1.1rem);
  background-color: $color-bg-main;
  .content-wrapper {
    background-color: $color-hover-bg;
    // Scrolling type
    scroll-snap-align: start;
    border-radius: $border-radius-default;
    padding: 0 2.179rem 0 1.4rem;
    // სიგანე და სიმაღლე ჩავასწორო?
    width: 100%;
    position: relative;
    height: 100vh;
    overflow-y: auto;
  }
  .right-fixed {
    bottom: 10rem;
    right: 2rem;
    @include flex(start, start, column, 2rem);
    position: absolute;
    // padding: 0 2.159rem 0 1.4rem;
    .block {
      @include flex(center, center, column, 0.6rem);
      & a {
        padding: 0.842rem;
        background: transparent;

        span {
          font-family: $font-satoshi;
          font-size: clamp-calc(1.2rem, 1.6rem);
          color: $color-primary;
        }
      }
    }
    .relative {
      position: relative;
      & .add-symbol {
        padding: 0.3rem;
        @include flex(center, center, row);
        position: absolute;
        background-color: $primary-navigation-hover;
        border-radius: $border-radius-full-circle;
        bottom: 2.3rem;
      }
    }
  }
  @include laptop {
    display: none;
  }
}
.discover .bottom-container {
  position: absolute;
  bottom: 7rem;
  @include flex(flex-start, flex-start, column, 1.1rem);

  .genre {
    @include flex(center, flex-start, row, 1rem);
  }
  .music {
    @include flex(center, flex-start, row, 1.1rem);

    & img {
      width: clamp-calc(5.1rem, 6.1rem);
      height: clamp-calc(5.1rem, 6.1rem);
      border-radius: 0.3rem;
    }
    .description {
      @include flex(flex-start, center, column, 0.3rem);

      & h6 {
        font-family: $font-satoshi;
        font-size: clamp-calc(1.4rem, 1.8rem);
        color: $primary-navigation-hover;
      }
      & span {
        font-family: $font-satoshi;
        font-size: clamp-calc(1.4rem, 1.8rem);
        color: $color-primary;
      }
    }
  }
  @include laptop {
    display: none;
  }
}

//  bottom lines for quantity of scrolling stories:
.discover .mobile-wrapper {
  .scrolls {
    padding-bottom: 1.4rem;
    @include flex(center, space-between, row, 0.7rem);
    display: flex;
    width: 95vw;
    .scroll-bar {
      flex: 1;
      height: 0.6rem;
      background: $scrollbar-bg-color;
      border-radius: $border-radius-default;
      overflow: hidden;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        width: 0%;
        background: $color-primary;
        border-radius: $border-radius-default;
      }
      @include laptop {
        display: none;
      }
    }
    @include laptop {
      display: none;
    }
  }

  // Animation for filling the  story scroll
  .scroll-bar.active::after {
    animation: fillBar 5s linear forwards;
  }

  @keyframes fillBar {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
}
// Desktop version of Discover page
.filters-nav {
  & .radio-nav-desk {
    width: calc(100vw - 31.5rem);
    position: fixed;
    left: 28.5rem;
    top: 7rem;
    z-index: 25;
    @include flex(center, flex-start, row, 1rem);
    padding: 1.5rem 0;
    background-color: $color-bg-main;
    border-radius: $border-radius-default $border-radius-default 0 0;
    padding: 0 2.5rem;

    & ul {
      padding: 0 2.5rem;
      @include flex(center, flex-start, row, 1rem);
      & li {
        padding: 0.8rem 1.5rem;
        border-radius: 0.8rem;
        background-color: $discover-filters-bg-color;
        text-decoration: none;
        text-transform: capitalize;
        transition: 0.3s ease;
        cursor: pointer;
        & a {
          font-family: $font-satoshi;
          font-size: 1.4rem;
          color: $color-secondary;
        }
        &:hover {
          color: $color-dark-hover;
          background-color: $primary-navigation-hover;
        }
        &.active {
          color: $color-dark-hover;
          background-color: $primary-navigation-hover;
        }
      }
    }
  }
}

// Desktop Navigation

.section-wrapper-discover {
  display: none;
  @include laptop {
    position: relative;
    background-color: $discover-main-bg-color;
    width: 100%;
    padding: 12.5rem 22.1rem;

    @include flex(center, center, column, 5rem);

    .content-container {
      width: 100%;
      @include flex(center, center, row, 8rem);

      .song-container {
        border-radius: $border-radius-default;
        position: relative;
        .main-img {
          opacity: 0.5;
          transition: opacity 0.8s ease;
          &.visible {
            opacity: 1;
          }
          // position: relative;
          border-radius: $border-radius-default;
        }
        & .scroll-left {
          padding: 0.5rem;
          // background-color: red;
          position: absolute;
          left: 1rem;
          top: 50%;
          z-index: 15;
          &:hover {
            transform: scale(1.1);
            padding: 1rem;
            border-radius: $border-radius-full-circle;
            & img {
              filter: brightness(0) invert(1);
              transition: 0.3s ease;
            }
            transition: 0.3s ease;
          }
        }
        & .scroll-right {
          &:hover {
            transform: scale(1.1);
            padding: 1rem;
            border-radius: $border-radius-full-circle;
            & img {
              filter: brightness(0) invert(1);
              transition: 0.3s ease;
            }
            transition: 0.3s ease;
          }
          padding: 0.5rem;
          position: absolute;
          right: 1rem;
          top: 50%;
          z-index: 15;
        }
        // Desktop Scrolls
        .scrolls-desktop {
          @include flex(center, space-between, row, 0.7rem);
          position: absolute;
          bottom: 2rem;
          left: 0.5rem;
          right: 0.5rem;

          .scroll-bar {
            flex: 1;
            height: 0.6rem;
            background: $scrollbar-bg-color;
            border-radius: $border-radius-default;
            overflow: hidden;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              inset: 0;
              width: 0%;
              background: $color-primary;
              border-radius: $border-radius-default;
            }

            &.active::after {
              animation: fillscroll 5s linear forwards;
            }
          }
        }

        @keyframes fillscroll {
          from {
            width: 0%;
          }
          to {
            width: 100%;
          }
        }
      }
    }
  }
}
.description-wrapper {
  padding: 3rem;
  .description-container {
    @include flex(center, center, row, 1.8rem);
    & .song-img {
      border-radius: 0.8rem;
      width: 18.4rem;
      height: 19.8rem;
    }

    .description {
      & h2 {
        font-family: $font-satoshi;
        font-weight: bold;
        font-size: 3rem;
        color: $primary-navigation-hover;
      }
      p {
        font-family: $font-satoshi;
        font-size: 1.4rem;
        white-space: nowrap;
        color: $color-primary;
        & span {
          color: $primary-navigation-hover;
        }
      }
      & .buttons {
        & .play-btn {
          @include flex(center, center, row);
          padding: 1.179rem;
          border-radius: $border-radius-full-circle;
          outline: none;
          border: none;
          background-color: $main-green-color;
          cursor: pointer;
        }
        @include flex(center, center, row, 1.8rem);
        & .icon-btn {
          white-space: nowrap;
          @include flex(center, center, row, 1.1rem);
          border: none;
          outline: none;
          background: transparent;
          cursor: pointer;

          // fonts for texts
          font-family: $font-satoshi;
          font-size: 1.2rem;
          color: $color-primary;

          &:hover {
            & img {
              filter: brightness(0) invert(1);
              transition: 0.3s ease;
            }
          }
        }
      }
      @include flex(flex-start, center, column, 2rem);

      & .genres {
        @include flex(center, center, row, 1rem);
        & li {
          font-family: $font-satoshi;
          color: $color-primary;
          font-size: 1.2rem;
          padding: 0.8rem 1.3rem;
          outline: none;
          border-radius: $border-radius-oval;
          border: 2px solid $border-menu-color;
        }
      }
    }
  }
}
