@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.discover .player {
    display: none;
    @include laptop {
      display: flex;
    }
}

.discover .main {
  // Scroll controller
  scroll-snap-type: y mandatory;
}
.hide-mob {
  display: none;
  @include laptop {
    display: flex;
  }
}
.discover .no-pd {
  padding: 0;
}
// navigation bar mobile at the top of screen
.discover .mobile-filters {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(to right, rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 0) 100%);
  border-radius: 0 0 1rem 1rem;
  @include flex(center, flex-start, row);

  & nav {
    @include flex(center, flex-start, row);
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background: linear-gradient(to right, rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 0) 100%);
    transition: transform 0.3s ease;

    &.hide {
      transform: translateY(-100%);
    }
  }
  & ul {
    @include flex(center, flex-start, row, 4rem);
    padding: 1.7rem 0;

    list-style: none;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-bg;
      border-radius: 3px;
    }
  }

  & a {
    font-family: "Satoshi";
    font-size: 1.4rem;
    color: $color-primary;
    white-space: nowrap;
    @include flex(center, center, row);
    position: relative;
  }

  .active-underlined {
    color: $primary-navigation-hover;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.4rem;
      width: 100%;
      height: 0.2rem;
      background-color: $main-green-color;
      border-radius: 0.2rem;
    }
  }
  @include laptop {
    display: none;
  }
}
// main content wrapper for horizontal and vertical scroll
.discover .mobile-wrapper {
  padding-bottom: 2rem;
  margin-top: 1.1rem;
  @include flex(center, center, column, 1.1rem);
  background-color: $color-bg-main;
  .content-wrapper {
    background-color: $color-hover-bg;
    // Scrolling type
    scroll-snap-align: start;
    border-radius: 1rem;
    padding: 0 2.179rem 0 1.4rem;
    // სიგანე და სიმაღლე ჩავასწორო
    width: 100%;
    position: relative;
    height: 100vh;
    overflow-y: auto;
  }
  .right-fixed {
    bottom: 10rem;
    right: 0;
    @include flex(start, start, column, 2rem);
    position: absolute;
    // padding: 0 2.159rem 0 1.4rem;
    .block {
      @include flex(center, center, column, 0.6rem);
      & a {
        padding: 0.842rem;
        background: transparent;

        span {
          font-family: "Satoshi";
          font-size: clamp-calc(1.2rem, 1.6rem);
          color: $color-primary;
        }
      }
    }
    .relative {
      position: relative;
      & .add-symbol {
        padding: 0.3rem;
        @include flex(center, center, row);
        position: absolute;
        background-color: $primary-navigation-hover;
        border-radius: 5rem;
        bottom: 2.3rem;
      }
    }
  }
  @include laptop {
    display: none;
  }
}
.discover .bottom-container {
  position: absolute;
  bottom: 7rem;
  @include flex(flex-start, flex-start, column, 1.1rem);

  .genre {
    @include flex(center, flex-start, row, 1rem);
  }
  .music {
    @include flex(center, flex-start, row, 1.1rem);

    & img {
      width: clamp-calc(5.1rem, 6.1rem);
      height: clamp-calc(5.1rem, 6.1rem);
      border-radius: 0.3rem;
    }
    .description {
      @include flex(flex-start, center, column, 0.3rem);
      & h6 {
        font-family: "Satoshi";
        font-size: clamp-calc(1.4rem, 1.8rem);
        color: $primary-navigation-hover;
      }
      & span {
        font-family: "Satoshi";
        font-size: clamp-calc(1.4rem, 1.8rem);
        color: $color-primary;
      }
    }
  }
  @include laptop {
    display: none;
  }
}

//  bottom lines for quantity of scrolling stories:
.discover .mobile-wrapper {
  .scrolls {
    padding-bottom: 1.4rem;
    @include flex(center, space-between, row, 0.7rem);
    display: flex;
    width: 95vw;
    .scroll-bar {
      flex: 1;
      height: 0.6rem;
      background: rgba(219, 219, 219, 0.15);
      border-radius: 1rem;
      overflow: hidden;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        width: 0%;
        background: $color-primary;
        border-radius: 1rem;
      }
      @include laptop {
        display: none;
      }
    }
    @include laptop {
      display: none;
    }
  }
  // Desktop Scrolls

  // Animation for filling the  story scroll
  .scroll-bar.active::after {
    animation: fillBar 5s linear forwards;
  }

  @keyframes fillBar {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
}
// Desktop version of Discover page
.discover .filters-nav nav {
  width: 86vw;
  position: fixed;
  left: 28.9rem;
  top: 7rem;
  z-index: 25;
  @include flex(center, flex-start, row, 1rem);
  padding: 1.5rem 0;
  background-color: $color-bg-main;
  border-radius: 1rem 1rem 0 0;
  & ul {
    padding: 0 2.5rem;
    @include flex(center, flex-start, row, 1rem);
    & a {
      padding: 0.8rem 1.5rem;
      border-radius: 0.8rem;
      background-color: rgba(32, 32, 32, 0.5);
      color: $primary-navigation-hover;
      font-family: "Satoshi";
      font-size: 1.4rem;
      text-decoration: none;
      text-transform: capitalize;
      transition: 0.3s ease;
      &:hover {
        color: $color-bg-primary;
        background-color: #e0e0e0;
      }
      &.active {
        color: $color-bg-primary;
        background-color: #e0e0e0;
      }
    }
  }
  // transition: transform 0.3s ease;
  // &.hide {
  //   transform: translateY(-100%);
  // }
}

// Desktop Navigation

.discover .section-wrapper-discover {
  position: relative;
  background-color: rgba(223, 114, 47, 0.12);
  width: 100%;
  padding: 12.5rem 22.1rem;

  @include flex(center, center, column, 5rem);

  .content-container {
    width: 100%;
    @include flex(center, center, row, 8rem);

    .song-container {
      border-radius: 1rem;
      position: relative;
      & .main-img {
        // position: relative;
        border-radius: 1rem;
      }
      & .scroll-left {
        padding: 0.5rem;
        // background-color: red;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 15;
      }
      & .scroll-right {
        padding: 0.5rem;
        // background-color: red;
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 15;
      }
      .scrolls-desktop {
        @include flex(center, space-between, row, 0.7rem);
        position: absolute;
        bottom: 2rem;
        left: 0.5rem;
        right: 0.5rem;

        .scroll-bar {
          flex: 1;
          height: 0.6rem;
          background: rgba(219, 219, 219, 0.15);
          border-radius: 1rem;
          overflow: hidden;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            inset: 0;
            width: 0%;
            background: $color-primary;
            border-radius: 1rem;
          }

          &.active::after {
            animation: fillscroll 5s linear forwards;
          }
        }
      }

      @keyframes fillscroll {
        from {
          width: 0%;
        }
        to {
          width: 100%;
        }
      }
    }
  }
}
.discover .description-wrapper {
  padding: 3rem;
  .description-container {
    @include flex(center, center, row, 1.8rem);
    & .song-img {
      border-radius: 0.8rem;
      width: 18.4rem;
      height: 19.8rem;
    }

    .description {
      & h5 {
        font-family: "Satoshi";
        font-weight: bold;
        font-size: 3rem;
        color: $primary-navigation-hover;
      }
      p {
        font-family: "Satoshi";
        font-size: 1.4rem;
        white-space: nowrap;
        color: $color-primary;
        & span {
          color: $primary-navigation-hover;
        }
      }
      & .buttons {
        & button {
          padding: 1.179rem;
          border-radius: 5rem;
          outline: none;
          border: none;
          background-color: $main-green-color;
        }
        @include flex(center, center, row, 1.8rem);
        & a {
          white-space: nowrap;
          @include flex(center, center, row, 1.1rem);
        }
      }
      @include flex(flex-start, center, column, 2rem);

      & .genres {
        @include flex(center, center, row, 1rem);
        & .genre {
          font-family: "Satoshi";
          font-size: 1.2rem;
          padding: 0.8rem 1.3rem;
          outline: none;
          border-radius: 4.4rem;
          border: 2px solid rgba(137, 137, 137, 0.1);
        }
      }
    }
  }
}
