@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.no-pd {
  padding: 0;
}
.section-wrapper-episode {
  width: 100%;
  min-height: 100vh;
  background: $podcast-episode-bg-color;
  padding: 1rem;
  padding-bottom: 15rem;
  @include laptop {
    padding: 2.2rem 5rem 0 3.7rem;
  }
  .episode-wrapper {
    @include grid(
      $mobile-cols: 1,
      $desktop-cols: 2,
      $gap: 4rem,
      $mobile-areas: "podcast-headings" "about-podcast" "episodes",
      $desktop-areas: "podcast-headings about-podcast" "episodes about-podcast"
    );

    @include laptop {
      width: 100%;
      grid-template-columns: minmax(20rem 1fr) clamp-calc(20rem, 32rem);
    }
  }
}
// grid areas for each container
.episode-headings {
  grid-area: podcast-headings;
}

.episodes-wrapper {
  grid-area: episodes;
}

.about-episode {
  grid-area: about-podcast;
}
//  Styles for  each container
.episode-headings {
  @include flex(center, flex-start, column, 1.4rem);
  @include laptop {
    @include flex(flex-start, flex-start, column, 1.4rem);
  }
  padding: 1rem;
  & h3 {
    font-family: $font-satoshi;
    font-weight: bold;
    color: $color-secondary;
    font-size: clamp-calc(1.8rem, 3.6rem);
  }
  & .subtitle {
    @include flex(center, center, row, 1rem);
    flex-wrap: wrap;
    & p {
      font-family: $font-satoshi;
      color: $color-secondary;
      font-size: clamp-calc(1.4rem, 1.8rem);
    }
    & span {
      font-family: $font-satoshi;
      color: $color-primary;
      font-size: 1.4rem;
    }
  }
  .episode-buttons-wrapper {
    @include flex(center, center, row, 1rem);
    & button {
      @include flex(center, center, row);
      padding: 1.179rem;
      border-radius: 5rem;
      outline: none;
      border: none;
      background-color: $main-green-color;
      cursor: pointer;
    }
    & a {
      @include flex(center, center, row);
      padding: 1.2rem;

      &:hover {
        & img {
          filter: brightness(0) invert(1);
          transition: 0.3s ease;
        }
      }
    }
  }
}
.about-episode {
  @include flex(center, flex-start, column, 2rem);

  @include laptop {
    @include flex(flex-start, flex-start, column, 2rem);
  }
  .episode-info {
    max-width: 32rem;
    width: 100%;
    @include flex(center, flex-start, column, 2rem);
    @include laptop {
      @include flex(flex-start, flex-start, column, 2rem);
    }
    & h4 {
      font-family: $font-satoshi;
      font-weight: bold;
      color: $color-secondary;
      font-size: clamp-calc(1.6rem, 2rem);
      text-align: center;
    }
    & p {
      font-family: $font-satoshi;
      font-weight: bold;
      color: $color-primary;
      font-size: clamp-calc(1.2rem, 1.6rem);
      max-width: clamp-calc(40rem, 65rem);
      text-align: center;
      @include laptop {
        text-align: left;
      }
    }
  }
  & img {
    width: clamp-calc(17rem, 32rem);
    height: clamp-calc(17rem, 32rem);
    border-radius: $border-radius-default;
  }
  @include laptop {
    align-items: flex-end;
  }
}
.episodes-wrapper {
  width: 100%;
  max-width: 97rem;
  & .episode-video {
    position: relative;
    border-radius: $border-radius-default;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: $border-radius-default;
    background: url("../img/podcasts/podcast-video-cover.jpg") center/cover no-repeat;

    & button {
      padding: 2.1rem;
      border-radius: $border-radius-full-circle;
      outline: none;
      border: none;
      background-color: $light-button-bg-color;
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
      cursor: pointer;
      @include flex(center, center, row);
      position: absolute;
      left: 45%;
      top: 45%;
    }
    @media (min-width: 768px) {
      .episode-video {
        width: clamp-calc(30rem, 60rem);
      }
    }
  }
}
