@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.red {
	color: $color-card-span-red;
}

.section-title {
	@include flex(center, space-between, null, null);
	& h2 {
		color: $color-hover-text;
		font-weight: 600;
		font-size: 2rem;
	}
}

.slide-controls {
	@include flex(center, center, null, 2rem);
	& a {
		@include flex(center, center, null, null);
		& i:hover {
			filter: brightness(0) invert(1);
			transition: 0.3s ease;
			cursor: pointer;
		}
	}
}
