@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.content {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 17.1rem;
	gap: 1.1rem;
	height: max-content;
  padding-bottom: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  &::-webkit-scrollbar {
      height: 6px; 
  }
  &::-webkit-scrollbar-track {
      background: transparent; 
  }
  &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 3px;
  }
}


.red {
	color: $color-card-span-red;
}

.section-title {
  @include flex(center, space-between, null, null);
  & h2 {
    color: $color-hover-text;
    font-weight: 600;
    font-size: 2rem;
  }
  
}

.slide-controls {
  @include flex(center, center, null, 2rem);
  & a {
    @include flex(center, center, null, null);
  }
}