@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.no-pd {
  padding: 0;
}
.section-wrapper-poadcast {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #a5602a, #060606);
  @include laptop {
    padding: 2.2rem 5rem 0 3.7rem;
  }
}
.content-wrapper-podcast {
  @include flex(center, flex-start, column, 1.4rem);
  padding: 1rem;
  & h3 {
    font-family: "Satoshi";
    font-weight: bold;
    color: $primary-navigation-hover;
    font-size: clamp-calc(1.6rem, 3.6rem);
  }

  .top-content-container {
    width: 100%;
    @include flex(flex-start, center, column, 1.2rem);

    .left-content {
      @include flex(flex-start, flex-start, column, 1rem);
      & h5 {
        font-size: 1.4rem;
        font-family: "Satoshi";
        font-weight: bold;
        color: $primary-navigation-hover;
      }

      .cta-actions {
        @include flex(center, flex-start, row, 1rem);
        & a:not(:last-child) {
          padding: 1rem 2rem;
          border-radius: 4.4rem;
          border: 2px solid $color-primary;
        }
        & .active {
          background-color: rgba(137, 137, 137, 0.25);
          color: $primary-navigation-hover;
        }
      }
    }
    .right-content {
      @include flex(center, flex-start, row, 1rem);
      & img {
        border-radius: $border-radius-default;
        width: clamp-calc(17rem, 32rem);
        height: clamp-calc(17rem, 32rem);
      }

      .about-podcast {
        & h4 {
          font-family: "Satoshi";
          font-weight: bold;
          color: $primary-navigation-hover;
          font-size: clamp-calc(1.4rem, 2rem);
        }
        & p {
          font-family: "Satoshi";
          font-weight: bold;
          color: $color-primary;
          font-size: clamp-calc(1.4rem, 1.6rem);
        }
      }
      @include tablet {
        flex-direction: column;
        justify-content: flex-end;
      }
    }

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
.episodes-wrapper {
  @include laptop {
    .podcast-filter {
      width: 106.682rem;
      @include flex(center, space-between, row, 2rem);
      & h6 {
        font-size: 2rem;
        font-family: "Satoshi";
        font-weight: bold;
        color: $primary-navigation-hover;

        .filters {
          width: 26rem;
          @include flex(center, center, row, 1rem);
        }
      }
    }
  }
}
