@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.no-pd {
  padding: 0;
}
.section-wrapper-podcast {
  width: 100%;
  min-height: 100vh;
  background: $podcast-gradient;
  padding: 1rem;
  padding-bottom: 15rem;
  @include laptop {
    padding: 2.2rem 5rem 0 3.7rem;
  }
  .podcast-wrapper {
    @include grid(
      $mobile-cols: 1,
      $desktop-cols: 2,
      $gap: 2rem,
      $mobile-areas: "podcast-headings" "about-podcast" "episodes",
      $desktop-areas: "podcast-headings about-podcast" "episodes about-podcast"
    );

    @include laptop {
      width: 100%;
      grid-template-columns: minmax(20rem 1fr) clamp-calc(20rem, 32rem);
    }
  }
}
// grid areas for each container
.podcast-headings {
  grid-area: podcast-headings;
}

.episodes-wrapper {
  grid-area: episodes;
}

.about-podcast {
  grid-area: about-podcast;
  align-self: flex-start;
}
//  Styles for  each container
.podcast-headings {
  @include flex(flex-start, flex-start, column, 1.4rem);
  @include laptop {
    @include flex(flex-start, flex-start, column, 1.4rem);
  }
  padding: 1rem;
  & h3 {
    font-family: $font-satoshi;
    font-weight: bold;
    color: $primary-navigation-hover;
    font-size: clamp-calc(1.6rem, 3.6rem);
  }
  & h6 {
    color: $podcast-secondary-color;
    
    @include tablet {
      font-size: 1.7rem;
    }
  }
  & .cta-actions {
    @include flex(center, center, row, 1rem);
    flex-wrap: wrap;
    & input {
      display: none;
    }
    & input[type="radio"]:checked + label {
      background-color: $color-album-border;
      color: $color-secondary;
      & img {
        filter: brightness(0) invert(1);
      }
    }
    &:last-child {
      @include flex(center, space-between, row, null);
      white-space: nowrap;
    }
    & label {
      @include flex(center, center, row, 0.5rem);
      padding: 1rem 2rem;
      border-radius: $border-radius-oval;
      border: 2px solid $color-primary;
      font-family: $font-satoshi;
      font-size: 1rem;
      color: $podcast-secondary-color;
      cursor: pointer;
      &:hover {
        color: $color-secondary;
        border: 2px solid $color-secondary;
      }
    }
    & a {
      @include flex(center, center, row);
      white-space: nowrap;
      &:hover {
        & img {
          filter: brightness(0) invert(1);
        }
      }
      :not(:last-child) {
        padding: 1rem 2rem;
        border-radius: 4.4rem;
        border: 2px solid #dfdfdf;
        @include flex(center, null, null, 0.5rem);
      }
    }
  }
}
.about-podcast {
  @include flex(normal, center, column, 2rem);
  padding: 1rem;

  figure {
    width: 100%;
  }

  @include laptop {
    @include flex(flex-start, flex-start, column, 2rem);
    justify-self: flex-end;
  }
  .podcast-info {
    max-width: 32rem;
    width: 100%;
    @include flex(flex-start, center, column, 2rem);
    @include laptop {
      @include flex(flex-start, flex-start, column, 2rem);
    }
    & h2 {
      font-weight: bold;
      color: $primary-navigation-hover;
      font-size: clamp-calc(1.2rem, 2rem);
      // text-align: center;
    }
    & p {
      max-width: clamp-calc(20rem, 32rem);
      font-weight: bold;
      color: $podcast-primary-color;
      font-size: clamp-calc(1.2rem, 1.6rem);
    }
  }
  & img {
    width: 100%;
    border-radius: $border-radius-default;
    @include laptop {
      align-items: flex-end;
    }
  }

  .podcasts-genres {
    @include flex(center, flex-start, row, 1rem);
    flex-wrap: wrap;
    & span {
      padding: 1rem;
      border-radius: $border-radius-oval;
      border: 2px solid $color-primary;
      font-family: $font-satoshi;
      font-weight: bold;
      color: $color-primary;
      font-size: 1rem;
      &:hover {
        color: $color-secondary;
        border: 2px solid $color-secondary;
        cursor: pointer;
      }
    }
  }
}
.episodes-wrapper {
  width: 100%;
  max-width: 97rem;
  @include flex(center, flex-start, column, 2rem);

  .podcast-filter {
    width: 100%;
    & h6 {
      font-size: 2rem;
      font-family: $font-satoshi;
      font-weight: bold;
      color: $primary-navigation-hover;
      text-align: center;
    }
    .filters {
      display: none;

      @include laptop {
        @include flex(center, center, row, 1rem);

        & .filter {
          & a {
            @include flex(center, center, row, 1rem);
            padding: 1.3rem 1rem;
            &:hover {
              color: $color-secondary;
              & img {
                filter: brightness(0) invert(1);
                transition: 0.3s ease;
              }
            }
          }
        }
      }
    }

    @include laptop {
      @include flex(center, space-between, row);
    }
  }
  .episodes {
    width: 100%;
    @include flex(flex-start, center, column, 1rem);
    @media (min-width: 768px) {
      @include flex(flex-start, flex-start, column, 1rem);
    }

    .episode {
      width: 100%;
      max-width: 102.7rem;
      padding: 1rem;
      background-color: transparent;
      border-bottom: 2px solid $podcast-border-color;
      @include flex(flex-start, flex-start, row-reverse, 1rem);
      @media (min-width: 992px) {
        @include flex(flex-start, flex-start, row, 1rem);
      }
      & .podcast-preview {
        border-radius: $border-radius-default;
      }

      .description-wrapper {
        @include flex(flex-start, flex-start, column, 2rem);
        max-width: 21rem;
        padding: 0rem;
        @include tablet {
          max-width: 100%;
        }
        & h3 {
          @include flex(center, flex-start, row, 1rem);
          font-weight: bold;
          color: $color-secondary;
          font-size: clamp-calc(1.2rem, 1.8rem);
          text-align: center;
          overflow: hidden;
        }
        & p,
        & span {
          font-family: $font-satoshi;
          font-weight: bold;
          color: $color-primary;
          font-size: clamp-calc(1rem, 1.4rem);
        }
        @include flex(flex-start, flex-start, column, 2rem);
        & span {
          display: none;
        }

        .button-wrapper {
          @include flex(center, flex-start, row, 1rem);
          & button {
            padding: 1.2rem;
            border-radius: $border-radius-full-circle;
            outline: none;
            border: none;
            background-color: $main-green-color;
            cursor: pointer;
            @include flex(center, center, row);
          }
          & a {
            @include flex(center, center, row);
            padding: 1rem;
            &:hover {
              & img {
                filter: brightness(0) invert(1);
                transition: 0.3s ease;
              }
            }
          }
        }
      }
    }
  }
}
