@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.section-wrapper-song {
	position: relative;
	z-index: 2;
	width: 100%;
	min-height: 100vh;
	padding: 3rem 1rem 10rem 1rem;
	@include flex(center, flex-start, column, 2.6rem);

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: url("../img/song/bg-img.jpg") center / cover no-repeat;
		filter: blur(100px) brightness(0.5);
		z-index: -1;
	}

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background: linear-gradient(
			180deg,
			rgba(40, 80, 150, 0.15) 0%,
			rgba(20, 40, 90, 0.25) 100%
		);
		min-height: 100vh;
		z-index: -1;
	}
	& i {
		filter: none;
	}
}
.no-pd {
	padding: 0;
}
.music-wrapper {
	width: 100%;
	@include flex(center, center, column, 1.6rem);
	& .img-wrapper {
		flex: 0 0 auto;
		& img {
			max-width: 100%;
			@include tablet {
				width: clamp-calc(20rem, 50rem);
			}
			height: auto;
		}
	}

	.descriptions-wrapper {
		// max-width: clamp-calc(20rem, 72.1rem);
		// width: 100%;
		min-width: 0;
		@include flex(center, center, column, 1rem);
		@include desktop {
			@include flex(flex-start, flex-start, column, 1rem);
		}
		.description {
			@include flex(center, center, column, 1.4rem);
			& h3 {
				width: 100%;
				font-size: clamp-calc(1.6rem, 3.6rem);
				font-weight: bold;
				text-align: center;
				color: $primary-navigation-hover;
				@include desktop {
					text-align: left;
					max-width: clamp-calc(20rem, 72.1rem);
				}
			}

			.song-info {
				// width: clamp-calc(20rem, 40rem);
				@include flex(center, flex-start, column, 1rem);
				flex-wrap: wrap;
				white-space: nowrap;
				& > :nth-child(-n + 2) span {
					color: $color-secondary;
				}

				& .info {
					@include flex(center, center, row, 0.5rem);
				}
				& .flex {
					@include flex(center, center, row, 0.5rem);
				}
				& span {
					font-family: $font-satoshi;
					font-weight: 400;
					font-size: 1.3rem;
					color: $color-primary;
					@include tablet {
						font-size: clamp-calc(1.6rem, 1.8rem);
						@include flex(center, flex-start, row, 1rem);
					}
				}
				@include desktop {
					@include flex(center, flex-start, row, 1rem);
					text-align: left;
					align-self: flex-start;
				}
			}
		}
		.buttons-wrapper {
			@include flex(center, center, row, 0.5rem);
			flex-wrap: wrap;
			& .playing-now {
				padding: 1.179rem;
				background-color: $main-green-color;
				border: none;
				outline: none;
				border-radius: 5rem;
				@include flex(center, center, row);
			}
			& a {
				padding: 1.179rem;
				&:hover {
					& i {
						filter: brightness(0) invert(1);
						transition: 0.3s ease;
					}
				}
			}
		}
		.genres-wrapper {
			@include flex(center, center, row, 0.5rem);
			flex-wrap: wrap;
			& span {
				border-radius: 4.4rem;
				padding: 0.5rem 1rem;
				border: 2px solid rgba(137, 137, 137, 0.1);
				white-space: nowrap;
				@include laptop {
					padding: 1rem 2rem;
				}
				&:hover {
					color: $color-hover-text;
					border: 2px solid $color-hover-text;
					cursor: pointer;
				}
			}
			@include desktop {
				@include flex(center, flex-start, row, 1rem);
				text-align: left;
			}
		}
		i {
			filter: none;
		}
	}
	.musicians-wrapper {
		@include flex(flex-start, center, row, 2rem);
		flex-wrap: wrap;
		.musician {
			@include flex(flex-start, center, row, 2rem);
			flex-wrap: wrap;
			.muscician-info {
				@include flex(flex-start, center, column, 1rem);
				& h6 {
					font-family: $font-satoshi;
					font-size: clamp-calc(1.6rem, 1.8rem);
					color: $color-hover-text;
				}
				.hover-card {
					display: none;
				}
				@media (max-width: 1577px) {
					display: none;
				}
				@media (max-width: 1577px) {
					&:hover {
						.hover-card {
							display: block;
						}
					}
				}
			}
		}
		@include desktop {
			@include flex(center, flex-start, column, 1rem);
			text-align: left;
			align-self: flex-start;
		}
		@media (max-width: 1577px) {
			flex-direction: row;
			gap: 3rem;
		}
	}
	@include desktop {
		@include flex(center, flex-start, row, 6.2rem);
	}
}
.app:has(.activity.open) {
	.music-wrapper {
		flex-wrap: nowrap;
		@include desktop {
			flex-wrap: wrap;
		}
	}
}
.details-wrapper {
	width: 100%;
	@include flex(flex-start, flex-start, column, 3.5rem);
	.slider {
		position: relative;
		width: 100%;
		padding: 1.7rem 2rem;
		border-bottom: 2px solid $color-bg-secondary;
		@include flex(center, flex-start, row, 5rem);
		& label {
			white-space: nowrap;
			position: relative;
			font-family: $font-satoshi;
			color: $color-primary;
			font-size: clamp-calc(1.4rem, 1rem);
			cursor: pointer;
		}
		& input {
			display: none;
		}
		& input[type="radio"]:checked + label::after {
			content: "";
			position: absolute;
			bottom: -0.4rem;
			left: 0;
			height: 0.2rem;
			width: 100%;
			background: $main-green-color;
			border-radius: 0.2rem;
		}
	}
	.wrapper-flex {
		@include flex(flex-start, flex-start, row, 10rem);
		& .icons-wrapper {
			@include flex(flex-start, flex-start, column, 1.2rem);
			& label {
				padding: 1.033rem 0.917rem;
				cursor: pointer;
			}
			& input {
				display: none;
			}
			& input[type="radio"]:checked + label {
				& i {
					filter: brightness(0) saturate(100%) invert(59%) sepia(86%)
						saturate(464%) hue-rotate(88deg) brightness(95%)
						contrast(92%);
				}
			}
		}
	}
	.lyrics-wrapper {
		@include flex(flex-start, flex-start, column, 3.5rem);
		width: 100%;
		padding: 0.5rem;
		border-radius: 0.8rem;
		& h6 {
			font-family: $font-satoshi;
			color: $primary-navigation-hover;
			font-size: clamp-calc(1.2rem, 1.8rem);
			text-align: left;
		}
		& .lyrics {
			& p:nth-child(-n + 5) {
				color: $color-secondary;
			}
			position: relative;
			max-height: 22rem;
			overflow: hidden;
			& .lyric-text {
				color: $color-primary;
				max-width: 63ch;
				line-height: 1;
				margin-bottom: 1rem;
				overflow-wrap: break-word;
				font-size: 1.4rem;
				@include laptop {
					font-size: 2.8rem;
				}
			}
		}

		& button {
			padding: 1.2rem 2rem;
			border-radius: 4.4rem;
			background-color: $primary-navigation-hover;
			color: $button-dark-text;
			border: none;
			outline: none;
			cursor: pointer;
			@include laptop {
				display: none;
			}
		}
	}
}
