@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.section-wrapper-song {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 100vh;
  @include flex(center, flex-start, column, 2.6rem);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../img/song/bg-img.jpg") center / cover no-repeat;
    filter: blur(100px);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(7, 7, 7, 0) 0%, rgba(7, 7, 7, 0.8) 99.62%);
    min-height: 100vh;
    z-index: -1;
  }
}
.no-pd {
  padding: 0;
}
.music-wrapper {
  padding: 3.7rem 3.7rem 0 3.7rem;
  width: 100%;
  @include flex(center, center, column, 1.6rem);
  & .img-wrapper {
    border-radius: 1rem;
    & img {
      border-radius: 1rem;
      width: clamp-calc(20rem, 50rem);
      // height: clamp-calc(20rem, 40rem);
      height: 100%;
    }
  }

  .descriptions-wrapper {
    max-width: clamp-calc(20rem, 72.1rem);
    width: 100%;
    @include flex(center, center, column, 2rem);
    .description {
      @include flex(center, center, column, 1.4rem);
      h3 {
        font-size: clamp-calc(1.2rem, 3.6rem);
        font-weight: bold;
        text-align: center;
        color: $primary-navigation-hover;
        @include laptop {
          text-align: left;
        }
      }

      .song-info {
        // width: clamp-calc(20rem, 40rem);
        @include flex(center, flex-start, column, 1rem);
        flex-wrap: wrap;
        white-space: nowrap;
        & .info {
          @include flex(center, center, row, 0.5rem);
        }
        & .flex {
          @include flex(center, center, row, 0.5rem);
        }
        & span {
          font-family: "Satoshi";
          font-weight: 400;
          font-size: 1rem;
          color: $color-primary;
          @include tablet {
            font-size: 1.6rem;
            @include flex(center, flex-start, row, 1rem);
          }
        }
        @include laptop {
          @include flex(center, flex-start, row, 1rem);
          text-align: left;
          align-self: flex-start;
        }
      }
    }
    .buttons-wrapper {
      @include flex(center, center, row, 0.5rem);
      flex-wrap: wrap;
      & button {
        padding: 1.179rem;
        background-color: $main-green-color;
        border: none;
        outline: none;
        border-radius: 5rem;
        @include flex(center, center, row);
      }
      & a {
        padding: 1.179rem;
      }
    }
    .genres-wrapper {
      @include flex(center, center, row, 0.5rem);
      flex-wrap: wrap;
      & span {
        border-radius: 4.4rem;
        padding: 1rem 2rem;
        border: 2px solid rgba(137, 137, 137, 0.1);
      }
      @include laptop {
        @include flex(center, flex-start, row, 1rem);
        text-align: left;
        // align-self: flex-start;
      }
    }
  }
  .musicians-wrapper {
    @include flex(flex-start, center, row, 2rem);
    flex-wrap: wrap;
    .musician {
      @include flex(flex-start, center, row, 2rem);
      .muscician-info {
        @include flex(flex-start, center, column, 2rem);
        & h6 {
          font-family: "Satoshi";
          font-size: clamp-calc(1.6rem, 1.8rem);
          color: $color-hover-text;
        }
      }
    }
    @include laptop {
      @include flex(center, flex-start, column, 1rem);
      text-align: left;
      align-self: flex-start;
    }
  }
}
.details-wrapper {
  width: 100%;
  height: 600px;
  @include flex(flex-start, flex-start, column, 3.5rem);
  .slider {
    position: relative;
    width: 100%;
    padding: 1.7rem 2rem;
    border-bottom: 2px solid $color-bg-secondary;
    @include flex(center, flex-start, row, 5rem);
    & a {
      font-family: "Satoshi";
      text-wrap: nowrap;
      font-size: 1.4rem;
      color: $color-primary;
      &.active {
        color: $primary-navigation-hover;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 1.6rem;
      height: 2px;
      width: 4.5rem;
      background: $main-green-color;
    }
  }
  .wrapper-flex {
    @include flex(flex-start, flex-start, row, 10rem);
    & .icons {
      @include flex(flex-satrt, flex-start, column, 1.2rem);
      & a {
        padding: 1.033rem 0.917rem;
      }
    }
    .lyrics-wrapper {
      @include flex(flex-start, flex-start, column, 3.5rem);
      width: 100%;
      padding: 0.5rem;
      border-radius: 0.8rem;
      & h6 {
        font-family: "Satoshi";
        color: $primary-navigation-hover;
        font-size: clamp-calc(1.2rem, 1.8rem);
        text-align: left;
      }
      & .lyrics {
        & p:nth-child(-n + 5) {
          color: white;
        }
        position: relative;
        max-height: 14rem;
        overflow: hidden;
        & .lyric-text {
          color: $color-primary;
          max-width: 63ch;
          line-height: 1;
          margin-bottom: 1rem;
          overflow-wrap: break-word;
          font-size: 1.4rem;
          @include laptop {
            font-size: 2.8rem;
          }
        }
      }

      & button {
        padding: 1.2rem 2rem;
        border-radius: 4.4rem;
        background-color: $primary-navigation-hover;
        color: $button-dark-text;
        border: none;
        outline: none;
        @include laptop {
          display: none;
        }
      }
    }
  }
}

@include laptop {
  .music-wrapper {
    @include flex(flex-start, center, row, 5rem);

    & .descriptions-wrapper {
      @include flex(flex-start, flex-start, column, 2rem);
    }
  }
}
