@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.section-wrapper-song {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 100vh;

  padding: 3.7rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../img/song/bg-img.jpg") center / cover no-repeat;
    filter: blur(100px);
    z-index: -1;
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   inset: 0;
  //   background: linear-gradient(180deg, rgba(7, 7, 7, 0) 0%, rgba(7, 7, 7, 0.8) 99.62%);
  //   min-height: 100vh;
  //   z-index: -1;
  // }
}
.no-pd {
  padding: 0;
}
.wrapper {
  // background-color: pink;
  width: 100%;
  @include flex(center, center, column, 1.6rem);
  & .img-wrapper {
    border-radius: 1rem;
    @include flex(center, center, column);
    & img {
      border-radius: 1rem;
      width: clamp-calc(20rem, 40rem);
      height: clamp-calc(20rem, 40rem);
    }
  }

  .description-wrapper {
    @include flex(center, center, column, 1.4rem);
    h3 {
      width: clamp-calc(20rem, 72.1rem);
      font-size: clamp-calc(1.2rem, 3.6rem);
      font-weight: bold;
      text-align: center;
      color: $primary-navigation-hover;
      @include tablet {
        font-size: 1.8rem;
      }
      @include laptop {
        text-align: left;
      }
    }

    .song-info {
      width: clamp-calc(20rem, 40rem);
      @include flex(center, flex-start, column, 1rem);
      white-space: nowrap;
      & .info {
        @include flex(center, center, row, 0.5rem);
      }
      & .flex {
        @include flex(center, center, row, 0.5rem);
      }
      & span {
        font-family: "Satoshi";
        font-weight: 400;
        font-size: 1rem;
        color: $color-primary;
        @include tablet {
          font-size: 1.6rem;
        }
      }
      @include laptop {
        @include flex(flex-start, flex-start, row);
      }
    }
    @include laptop {
      @include flex(flex-start, flex-start, column, 1rem);
    }
  }
  .buttons-wrapper {
    @include flex(center, center, row, 0.5rem);
    flex-wrap: wrap;
    & button {
      padding: 1.179rem;
      background-color: $main-green-color;
      border: none;
      outline: none;
      border-radius: 5rem;
      @include flex(center, center, row);
    }
    & a {
      padding: 1.179rem;
    }
  }
  .genres-wrapper {
    @include flex(center, center, row, 0.5rem);
    flex-wrap: wrap;
    & span {
      border-radius: 4.4rem;
      padding: 1rem 2rem;
      border: 2px solid rgba(137, 137, 137, 0.1);
    }
  }
  .musicians-wrapper {
    @include flex(flex-start, center, row, 2rem);
    flex-wrap: wrap;
    .musician {
      @include flex(flex-start, center, row, 2rem);
      .muscician-info {
        @include flex(flex-start, center, column, 2rem);
        & h6 {
          font-family: "Satoshi";
          font-size: clamp-calc(1.6rem, 1.8rem);
          color: $color-hover-text;
        }
      }
    }
  }

  @include laptop {
    @include flex(flex-start, flex-start, row, 6.2rem);
  }

  .details-wrapper {
    width: 100%;
    @include flex(flex-start, flex-start, column, 3.5rem);
    .slider {
      width: 100%;
      padding: 1.7rem 4.6rem;
    }

    .lyrics {
      width: clamp-calc(20rem, 91.2rem);
      padding: 0.5rem;
      background-color: $color-primary;
      border-radius: 0.8rem;
      & h6 {
        font-family: "Satoshi";
        color: $primary-navigation-hover;
        font-size: clamp-calc(1.2rem, 1.8rem);
        text-align: left;
      }
      & p {
      }

      & button {
        padding: 1.2rem 2rem;
        border-radius: 4.4rem;
        background-color: $primary-navigation-hover;
        color: $button-dark-text;
      }
    }
  }
}
