.icons {
	display: inline-block;
	width: 2.2rem;
	height: 2.2rem;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	transition: filter 0.2s ease;

	&:hover {
		filter: brightness(0) invert(1);
	}

	&.icon-xxxs { width: 0.7rem; height: 0.7rem; }
	&.icon-sm { width: 1.6rem; height: 1.6rem; }
	&.icon-md { width: 2.4rem; height: 2.4rem; }
	&.icon-lg { width: 3.2rem; height: 3.2rem; }
	&.icon-xl { width: 4rem; height: 4rem; }
    &.icon-green:hover {
        filter: brightness(0) saturate(100%) invert(56%) sepia(83%) saturate(600%) hue-rotate(95deg);
        fill: #1ed760;
    }
    &.icon-white {
        filter: brightness(0) invert(1);
        &:hover {
            filter: brightness(1) invert(0);
        }
    }
}

/* Our style.css is in styles folder, we need one time ../ for use icons in images folders */

.icon-play {
    background-image: url("../img/icons/player/play.svg");
    &:hover {
		filter: brightness(1) invert(0);
	}
}
.icon-play-black {
    background-image: url("../img/icons/player/play-black.svg");
}
.icon-play-green {
    background-image: url("../img/icons/play-icon-green.svg");
}
.icon-shuffle {
    background-image: url("../img/icons/player/shuffle.svg");
}
.icon-pause {
    background-image: url("../img/icons/player/pause.svg");
}
.icon-list {
    background-image: url("../img/icons/player/list.svg");
}
.icon-search {
    background-image: url("../img/icons/search.svg");
}
.icon-sort-list {
    background-image: url("../img/icons/list.svg");
}
.icon-sort-grid {
    background-image: url("../img/icons/grid.svg");
}
.icon-arrow-right {
    background-image: url("../img/icons/arrows/arrow-right.svg");
}
.icon-arrow_down {
    background-image: url("../img/icons/arrows/arrow_down.svg");
}
.icon-arrow_sort {
    background-image: url("../img/icons/arrows/arrow_sort.svg");
}
.icon-arrow_up {
    background-image: url("../img/icons/arrows/arrow_up.svg");
}
.icon-arrow-left {
    background-image: url("../img/icons/arrows/arrow-left.svg");
}
.icon-arrow-left-big {
    background-image: url("../img/icons/arrows/arrow-left-big.svg");
}
.icon-arrow-right-big {
    background-image: url("../img/icons/arrows/arrow-right-big.svg");
}
.icon-devices {
    background-image: url("../img/icons/player/devices.svg");
}
.icon-next {
    background-image: url("../img/icons/player/next.svg");
}
.icon-order {
    background-image: url("../img/icons/player/order.svg");
}
.icon-order-burger {
    background-image: url("../img/icons/order.svg");
}
.icon-pause {
    background-image: url("../img/icons/player/pause.svg");
}
.icon-player_blue_icon {
    background-image: url("../img/icons/player/player_blue_icon.svg");
}
.icon-playing {
    background-image: url("../img/icons/player/playing.svg");
}
.icon-prev {
    background-image: url("../img/icons/player/prev.svg");
}
.icon-repeat {
    background-image: url("../img/icons/player/repeat.svg");
}
.icon-shuffle {
    background-image: url("../img/icons/player/shuffle.svg");
}
.icon-volume {
    background-image: url("../img/icons/player/volume.svg");
}
.icon-add-rounded {
    background-image: url("../img/icons/plus-rounded.svg");
}
.icon-add-playlist {
    background-image: url("../img/icons/player/add_playlist.svg");
}
.icon-add-album {
    background-image: url("../img/icons/add-to-playlist.svg");
}
.icon-add-friend {
    background-image: url("../img/icons/add_friend.svg");
}
.icon-add-library {
    background-image: url("../img/icons/add_library.svg");
}
.icon-library {
    background-image: url("../img/icons/library.svg");
}
.icon-font-size {
    background-image: url("../img/icons/font-size.svg");
}
.icon-language {
    background-image: url("../img/icons/language.svg");
}
.icon-add-music {
    background-image: url("../img/icons/add_music.svg");
}
.icon-add-big {
    background-image: url("../img/icons/add-big.svg");
}
.icon-album {
    background-image: url("../img/icons/albom.svg");
}
.icon-artist {
    background-image: url("../img/icons/artist.svg");
}
.icon-artists {
    background-image: url("../img/icons/artists.svg");
}
.icon-audiobook {
    background-image: url("../img/icons/audiobook.svg");
}
.icon-big_star {
    background-image: url("../img/icons/big_star.svg");
}
.icon-bookmark {
    background-image: url("../img/icons/bookmark.svg");
}
.icon-burger {
    background-image: url("../img/icons/burger.svg");
}
.icon-by_photo {
    background-image: url("../img/icons/by_photo.svg");
}
.icon-camera {
    background-image: url("../img/icons/camera.svg");
}
.icon-checked {
    background-image: url("../img/icons/checked.svg");
}
.icon-close {
    background-image: url("../img/icons/close.svg");
}
.icon-comments {
    background-image: url("../img/icons/comments.svg");
}
.icon-comments_active {
    background-image: url("../img/icons/comments_active.svg");
}
.icon-disabled {
    background-image: url("../img/icons/disabled.svg");
}
.icon-discover {
    background-image: url("../img/icons/discover.svg");
}
.icon-dislike {
    background-image: url("../img/icons/dislike.svg");
}
.icon-dislike {
    background-image: url("../img/icons/dislike.svg");
}
.icon-dislike {
    background-image: url("../img/icons/dislike.svg");
}
.icon-edit {
    background-image: url("../img/icons/edit.svg");
}
.icon-facebook {
    background-image: url("../img/icons/facebook.svg");
}
.icon-fast {
    background-image: url("../img/icons/fast.svg");
}
.icon-flash {
    background-image: url("../img/icons/flash.svg");
}
.icon-folder {
    background-image: url("../img/icons/folder.svg");
}
.icon-full_size {
    background-image: url("../img/icons/full_size.svg");
}
.icon-green-heart {
    background-image: url("../img/icons/green-heart.svg");
}
.icon-group {
    background-image: url("../img/icons/group.svg");
}
.icon-hearth {
    background-image: url("../img/icons/hearth.svg");
}
.icon-hearth-green {
    background-image: url("../img/icons/hearth-green.svg");
}
.icon-hidden {
    background-image: url("../img/icons/hidden.svg");
}
.icon-history {
    background-image: url("../img/icons/listening-history.svg");
}
.icon-home {
    background-image: url("../img/icons/home.svg");
}
.icon-home-inactive {
    background-image: url("../img/icons/home-inactive.svg");
}
.icon-layout_change {
    background-image: url("../img/icons/layout_change.svg");
}
.icon-like {
    background-image: url("../img/icons/like.svg");
}
.icon-list_microphone {
    background-image: url("../img/icons/list_microphone.svg");
}
.icon-list_microphone-small {
    background-image: url("../img/icons/mic.svg");
}
.icon-lock {
    background-image: url("../img/icons/lock.svg");
}
.icon-locked {
    background-image: url("../img/icons/locked.svg");
}
.icon-me {
    background-image: url("../img/icons/me.svg");
}
.icon-menu {
    background-image: url("../img/icons/menu.svg");
}
.icon-microphone {
    background-image: url("../img/icons/microphone.svg");
}
.icon-miniplayer {
    background-image: url("../img/icons/miniplayer.svg");
}
.icon-notification {
    background-image: url("../img/icons/notification.svg");
}
.icon-now-playing {
    background-image: url("../img/icons/now-playing.svg");
}
.icon-pin {
    background-image: url("../img/icons/pin.svg");
}
.icon-pin-green {
    background-image: url("../img/icons/pin-green.svg");
}
.icon-play_bordered {
    background-image: url("../img/icons/play_bordered.svg");
}
.icon-play-icon-green {
    background-image: url("../img/icons/play-icon-green.svg");
}
.icon-playlist {
    background-image: url("../img/icons/playlist.svg");
}
.icon-plus {
    background-image: url("../img/icons/plus.svg");
    &:hover {
		filter: brightness(1) invert(0);
	}
}
.icon-podcast {
    background-image: url("../img/icons/podcast.svg");
}
.icon-queue {
    background-image: url("../img/icons/queue.svg");
}
.icon-radio {
    background-image: url("../img/icons/radio.svg");
}
.icon-recording {
    background-image: url("../img/icons/recording.svg");
}
.icon-remove_from_list {
    background-image: url("../img/icons/remove_from_list.svg");
}
.icon-search {
    background-image: url("../img/icons/search.svg");
}
.icon-search_full {
    background-image: url("../img/icons/search_full.svg");
}
.icon-seek_next {
    background-image: url("../img/icons/seek_next.svg");
}
.icon-settings {
    background-image: url("../img/icons/settings.svg");
}
.icon-shutdown {
    background-image: url("../img/icons/shutdown.svg");
}
.icon-slow {
    background-image: url("../img/icons/slow.svg");
}
.icon-sort {
    background-image: url("../img/icons/sort.svg");
}
.icon-spotify {
    background-image: url("../img/icons/spotify_small.svg");
    filter: brightness(0) saturate(100%) invert(56%) sepia(83%) saturate(600%) hue-rotate(95deg);
    fill: #1ed760;
}
.icon-spotify_small {
    background-image: url("../img/icons/spotify_small.svg");
}
.icon-star_small {
    background-image: url("../img/icons/star_small.svg");
}
.icon-text_size {
    background-image: url("../img/icons/text_size.svg");
}
.icon-time {
    background-image: url("../img/icons/time.svg");
}
.icon-timer {
    background-image: url("../img/icons/timer.svg");
}
.icon-translate {
    background-image: url("../img/icons/translate.svg");
}
.icon-user {
    background-image: url("../img/icons/user.svg");
}
.icon-users {
    background-image: url("../img/icons/users.svg");
}
.icon-views {
    background-image: url("../img/icons/views.svg");
}
.icon-download {
    background-image: url("../img/icons/download.svg");
}
.icon-upload {
    background-image: url("../img/icons/upload.svg");
}
.icon-dots {
    background-image: url("../img/icons/dots.svg");
}
.icon-dots_6 {
    background-image: url("../img/icons/dots_6.svg");
}