.icons {
	display: inline-block;
	width: 2.2rem;
	height: 2.2rem;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.icon-sm {
    width: 1.6rem; height: 1.6rem;
}
.icon-md {
    width: 2.4rem; height: 2.4rem;
}
.icon-lg {
    width: 3.2rem; height: 3.2rem;
}
.icon-xl {
    width: 4rem; height: 4rem;
}

/* Our style.css is in styles folder, we need one time ../ for use icons in images folders */

.icon-play {
    background-image: url("../img/icons/player/play.svg");
}
.icon-play-green {
    background-image: url("../img/icons/play-icon-green.svg");
}
.icon-shuffle {
    background-image: url("../img/icons/player/shuffle.svg");
}
.icon-pause {
    background-image: url("../img/icons/player/pause.svg");
}
.icon-search {
    background-image: url("../img/icons/search.svg");
}
.icon-sort-list {
    background-image: url("../img/icons/list.svg");
}
.icon-sort-grid {
    background-image: url("../img/icons/grid.svg");
}
.icon-arrow-right {
    background-image: url("../img/icons/arrows/arrow-right.svg");
}
.icon-add-rounded {
    background-image: url("../img/icons/plus-rounded.svg");
}
.icon-add-playlist {
    background-image: url("../img/icons/add-to-playlist.svg");
}
.icon-add-friend {
    background-image: url("../img/icons/add_friend.svg");
}
.icon-add-library {
    background-image: url("../img/icons/add_library.svg");
}
.icon-add-music {
    background-image: url("../img/icons/add_music.svg");
}
.icon-album {
    background-image: url("../img/icons/album.svg");
}
.icon-artist {
    background-image: url("../img/icons/artist.svg");
}
.icon-artists {
    background-image: url("../img/icons/artists.svg");
}
.icon-audiobook {
    background-image: url("../img/icons/audiobook.svg");
}
.icon-big_star {
    background-image: url("../img/icons/big_star.svg");
}
.icon-bookmark {
    background-image: url("../img/icons/bookmark.svg");
}
.icon-burger {
    background-image: url("../img/icons/burger.svg");
}
.icon-by_photo {
    background-image: url("../img/icons/by_photo.svg");
}
.icon-download-rounded {
    background-image: url("../img/icons/download.svg");
}
.icon-upload {
    background-image: url("../img/icons/upload.svg");
}
.icon-dots {
    background-image: url("../img/icons/dots.svg");
}