@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  @include grid($desktop-cols: 2, $desktop-areas: "sidebar header");
  width: 100%;
  background-color: $color-bg-main;
  z-index: 5;
  grid-area: header;
  @include flex(center, center, row);
}

.header-wrapper {
  width: 100%;
  width: clamp-calc(39rem, 165rem);
  display: none;

  @include laptop {
    @include flex(center, space-between, row);
    .navigation {
      & .top-nav-ul {
        @include flex(center, flex-start, row, 2rem);
      }
      & .img-div {
        padding: 1rem;
      }

      & a:hover {
        color: $primary-navigation-hover;
        & img {
          filter: brightness(0) invert(1);
        }
      }
      & a,
      & .search-wrapper,
      & form {
        @include flex(center, flex-start, row, 2rem);

        font-family: $font-satoshi;
        font-size: 1.4rem;
        color: $color-primary;
      }
      & .search-wrapper {
        flex: 1;
        min-width: 0;
        position: relative;

        //  put the search icon inside of search wrapper & input
        & label {
          &:hover {
            & img {
              filter: brightness(0) invert(1);
              transition: 0.3s linear;
            }
          }
          padding: 0.9rem;
        }
        & label,
        & img {
          position: absolute;
          left: 1rem;
          top: 50%;
          transform: translateY(-50%);
          // width: 1.6rem;
          cursor: pointer;
        }

        &:focus-within {
          & input {
            background: #111111;
          }
        }
      }
      & input {
        flex: 1;
        width: 100%;
        border: none;
        outline: none;
        background: $color-bg-main;
        padding: 1rem 1rem 1rem 4rem;
        border-radius: 1rem;
        font-family: "Satoshi", sans-serif;
        font-size: 1.4rem;
        font-weight: 500;
        color: #898989;
        // placeholder customization
        &::placeholder {
          font-family: "Satoshi", sans-serif;
          font-size: 14px;
          font-weight: 500;
          color: #898989;
        }

        // closing icon customization

        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
          width: 1rem;
          height: 1rem;
          cursor: pointer;
          background:
            linear-gradient(
              45deg,
              transparent 45%,
              $color-primary 45%,
              $color-primary 55%,
              transparent 55%
            ),
            linear-gradient(
              -45deg,
              transparent 45%,
              $color-primary 45%,
              $color-primary 55%,
              transparent 55%
            );
          background-size: 100% 100%;
        }
      }
    }
  }

  .side-nav ul {
    @include flex(center, center, row, 1.3rem);
    & a {
      @include flex(center, center, row);
      padding: 0.8rem;
      &:hover {
        & img {
          filter: brightness(0) invert(1);
          transition: 0.3s linear;
        }
      }
    }
    & .nohover &a:hover {
      & img {
        filter: none;
      }
    }
  }

  // Hovers:

  .mobile-nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.6rem;
    background: $mobile-menu-bg-color;
    @include flex(center, space-around, row, 3.1rem);
    & a {
      @include flex(center, center, column, 0.2rem);
      font-family: $font-satoshi;
      font-size: 1.4rem;
      color: $color-primary;
    }
    @include laptop {
      display: none;
    }
  }
}
