@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.app {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: $color-bg-main;
  overflow: hidden;
  @include laptop {
    grid-template-columns: 26rem 1fr;
    grid-template-rows: 5.4rem 1fr 8.1rem;

    grid-template-areas:
      "sidebar header"
      "sidebar main"
      "sidebar player";
  }
}
.main {
  overflow-y: auto;
  padding: 1.6rem;
  padding-bottom: 16rem;
  @include laptop {
    grid-area: main;
    padding: 2.4rem;
    padding-bottom: 2.4rem;
    border: $main-section-border;
    border-radius: $border-radius-default;
  }
}
